In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('cian.csv')
df.isnull().sum(axis=0).sort_values()

Unnamed: 0           0
Ссылка               0
Этаж                 7
Этажность дома       7
Цена                 7
Общая площадь        9
Метро              232
Время до метро     343
Ремонт             586
Ванная             824
Срок сдачи        1104
Жилая площадь     1110
dtype: int64

перед удалением жилой площади найти квартиры, где nan значение в "Общая площадь" и прибавить (если есть) среднюю разницы общей и жилой площади к значению имеющейся жилой площади

In [3]:
difference = round((df['Общая площадь']-df['Жилая площадь']).mean(), 1)
df.loc[(df['Жилая площадь'] != 0) & (df['Общая площадь'] == 0), 'Общая площадь'] = df['Жилая площадь']+difference

In [4]:
col_to_drop = ['Срок сдачи', 'Жилая площадь', 'Unnamed: 0']
df.drop(col_to_drop, inplace=True, axis=1)
df

,Ссылка,Метро,Время до метро,Общая площадь,Этаж,Этажность дома,Ванная,Ремонт,Цена
0,https://www.cian.ru/rent/flat/275888156/,Киевская,14.0,48.0,2.0,16.0,NaN,Дизайнерский,53500.0
1,https://www.cian.ru/rent/flat/275698431/,Текстильщики,NaN,34.0,8.0,20.0,1 совмещенный,NaN,45000.0
2,https://www.cian.ru/rent/flat/275245343/,Фили,1.0,38.0,3.0,5.0,1 совмещенный,Косметический,45000.0
3,https://www.cian.ru/rent/flat/169981655/,Борисово,19.0,38.0,17.0,17.0,1 совмещенный,Косметический,42000.0
4,https://www.cian.ru/rent/flat/275528458/,Верхние Лихоборы,3.0,38.0,13.0,17.0,NaN,Косметический,38000.0
...,...,...,...,...,...,...,...,...,...
5911,https://www.cian.ru/rent/flat/226086740/,Прокшино,27.0,40.0,4.0,9.0,1 совмещенный,Евроремонт,38000.0
5912,https://www.cian.ru/rent/flat/275315041/,Раменки,4.0,38.0,3.0,17.0,1 совмещенный,Косметический,40000.0
5913,https://www.cian.ru/rent/flat/265486228/,Нагатинская,12.0,50.0,6.0,33.0,1 совмещенный,Дизайнерский,65000.0
5914,https://www.cian.ru/rent/flat/202365764/,Щелковская,25.0,44.0,3.0,14.0,1 раздельный,Евроремонт,36000.0
5915,https://www.cian.ru/rent/flat/263679569/,Филатов Луг,5.0,36.0,12.0,15.0,1 совмещенный,Евроремонт,45000.0

In [5]:
df['Этаж'] = df['Этаж'].fillna(0)
df['Этажность дома'] = df['Этажность дома'].fillna(0)
df.loc[df['Этаж'] == 0]

,Ссылка,Метро,Время до метро,Общая площадь,Этаж,Этажность дома,Ванная,Ремонт,Цена
34,https://www.cian.ru/rent/flat/275044798/,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
146,https://www.cian.ru/rent/flat/275875856/,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
1585,https://www.cian.ru/rent/flat/275154390/,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
1814,https://www.cian.ru/rent/flat/274940939/,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
4222,https://www.cian.ru/rent/flat/272214189/,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
4322,https://www.cian.ru/rent/flat/243402884/,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
4825,https://www.cian.ru/rent/flat/274308407/,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN

In [6]:
df.loc[df['Этажность дома'] == 0]

,Ссылка,Метро,Время до метро,Общая площадь,Этаж,Этажность дома,Ванная,Ремонт,Цена
34,https://www.cian.ru/rent/flat/275044798/,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
146,https://www.cian.ru/rent/flat/275875856/,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
1585,https://www.cian.ru/rent/flat/275154390/,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
1814,https://www.cian.ru/rent/flat/274940939/,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
4222,https://www.cian.ru/rent/flat/272214189/,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
4322,https://www.cian.ru/rent/flat/243402884/,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
4825,https://www.cian.ru/rent/flat/274308407/,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN

In [7]:
values = {'Время до метро': round(df['Время до метро'].median())}
df.fillna(value = values, inplace = True)

to_drop = ['Метро', 'Ремонт', 'Этаж', 'Этажность дома', 'Цена', 'Общая площадь']
for dr in to_drop:
    df.drop(df[df[dr].isna()].index, inplace = True)

In [8]:
df['Цена за метр'] = round(df['Цена'] / df['Общая площадь'])

In [9]:
df.isnull().sum(axis=0).sort_values()

Ссылка              0
Метро               0
Время до метро      0
Общая площадь       0
Этаж                0
Этажность дома      0
Ремонт              0
Цена                0
Цена за метр        0
Ванная            648
dtype: int64

Теперь решаем вопрос с ванной комнатой

In [10]:
df['Ванная'].value_counts()

1 совмещенный                  3522
1 раздельный                    883
2 раздельных                     23
1 совмещенный, 1 раздельный      22
2 совмещенных                    15
1 совмещенный, 2 раздельных       2
Name: Ванная, dtype: int64

In [11]:
df['Ванная'].loc[(df['Ванная'] == '1 совмещенный') | (df['Ванная'] == '1 раздельный')] = 1
df['Ванная'].loc[(df['Ванная'] == '1 совмещенный, 1 раздельный') | (df['Ванная'] == '2 раздельных') \
    | (df['Ванная'] == '2 совмещенных') | (df['Ванная'] == '1 совмещенный, 2 раздельных')] = 2

In [12]:
df

,Ссылка,Метро,Время до метро,Общая площадь,Этаж,Этажность дома,Ванная,Ремонт,Цена,Цена за метр
0,https://www.cian.ru/rent/flat/275888156/,Киевская,14.0,48.0,2.0,16.0,NaN,Дизайнерский,53500.0,1115.0
2,https://www.cian.ru/rent/flat/275245343/,Фили,1.0,38.0,3.0,5.0,1,Косметический,45000.0,1184.0
3,https://www.cian.ru/rent/flat/169981655/,Борисово,19.0,38.0,17.0,17.0,1,Косметический,42000.0,1105.0
4,https://www.cian.ru/rent/flat/275528458/,Верхние Лихоборы,3.0,38.0,13.0,17.0,NaN,Косметический,38000.0,1000.0
5,https://www.cian.ru/rent/flat/270465897/,Юго-Западная,6.0,38.0,12.0,17.0,1,Косметический,40000.0,1053.0
...,...,...,...,...,...,...,...,...,...,...
5911,https://www.cian.ru/rent/flat/226086740/,Прокшино,27.0,40.0,4.0,9.0,1,Евроремонт,38000.0,950.0
5912,https://www.cian.ru/rent/flat/275315041/,Раменки,4.0,38.0,3.0,17.0,1,Косметический,40000.0,1053.0
5913,https://www.cian.ru/rent/flat/265486228/,Нагатинская,12.0,50.0,6.0,33.0,1,Дизайнерский,65000.0,1300.0
5914,https://www.cian.ru/rent/flat/202365764/,Щелковская,25.0,44.0,3.0,14.0,1,Евроремонт,36000.0,818.0
5915,https://www.cian.ru/rent/flat/263679569/,Филатов Луг,5.0,36.0,12.0,15.0,1,Евроремонт,45000.0,1250.0

In [13]:
#Для каждого найденного параметра количества ванн в квартире посчитаем среднюю площадь

ratio = [-1]*df['Ванная'].nunique()

for i in range(df['Ванная'].nunique()):
    ratio[i] = df[df['Ванная'] == i + 1]['Общая площадь'].mean()
    print(ratio[i])

37.91475141884222
51.00806451612903

In [14]:
#Функция number_near будет находить ближайшее подходящее значение количества ванн для квартиры с заданной площадью
def comparison_s(n):
    pos = ratio.copy()
    pos.append(n)
    pos = sorted(pos)
    if abs(pos[pos.index(n)] - pos[pos.index(n)-1]) < abs(pos[pos.index(n)] - pos[pos.index(n)-2]):
        return ratio.index(pos[pos.index(n) - 1]) + 1
    else: 
        return ratio.index(pos[pos.index(n) - 2]) + 1
    
#Заполняем пропуски в колонке "Ванная"

s_flats = df[df['Ванная'].isna()].index
for s in s_flats:
    df['Ванная'][s] = comparison_s(df[df['Ванная'].isna()]['Общая площадь'][s])

In [15]:
df['Ванная'].unique()

array([2, 1], dtype=object)

In [20]:
df.to_csv('clean_cian.csv')